.themeToggle {
    --size: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;

    .moon {

        transform: translate(0, 0);
        opacity: 0;
    }

    .sunBeams {
        opacity: 1;
    }

    &.dark {


        &>.sun {

            transform: scale(1.75);
        }

        &>.sunBeams {
            opacity: 0;
        }

        .moon {
            transition: all 1s ease-in-out;
            transform: translate(-19px, 19px);
            opacity: 1;

        }

    }
}

.moon,
.sun,
.sunBeams {
    transform-origin: center center;
    transition: all 1s ease-in-out;
}